(
    version: 578,
    packets: {
        (Server, Handshaking, 0x00): (
            name: "handshake",
            custom_type: Struct({
                "protocol_version": VarInt,
                "server_address": String(255),
                "server_port": U16,
                "next_state": CustomType("state", Enum(
                    variant: Prefixed(VarInt),
                    variants: {
                        (1, "status"): Unit,
                        (2, "login"): Unit,
                    }
                ))
            })
        ),
        (Server, Play, 0x2C): (
            "hand": Shared("hand"),
        )
    },
    shared_types: {
        
    }
)